.geocodedSearchResults li {
	color: green;
    cursor: pointer;
    font-weight: bold;
    font-size: 120%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.editableMap {
    height: 500px;
    /* width: 90%;*/
    float: none;

	// @todo This is a dirty hack and needs fixed, the map icon editor field is otherwise overlaying with the map
	margin-bottom: 220px;

}

.editableMapWrapper {
    //display: inline-block;
    width: 100%;
	height: 500px;
    //float: none;
    margin-left: auto;
    margin-right: auto;
}

.fieldholder-small {
    display: none;
}


#Form_EditForm_MapPinIcon_Holder {
	clear: both;
}


